{% extends "base.html" %}
{% block content %}

<div class="post">
	<h1 class="title">Archives for {{ SITENAME }}</h1>
</div>

<div class="post">
	
	<dl>
	{% for article in dates %}
	<dt>{{ article.locale_date }}</dt>
	<dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
	{% endfor %}
	</dl>

</div>
	
{% endblock %}
