{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}

<div class="post">
	<h1 class="title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
		title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
	<div class="entry">
		{{ article.content }}
	</div>
	<div class="meta">
		<p class="byline">{% include 'article_infos.html' %}</p>
		{% include "disqus_script.html" %}
	</div>
</div>

{% endblock %}
