{% include 'taglist.html' %}
{% import 'translations.html' as translations with context %}
{% if translations.translations_for(article) %}
{{ translations.translations_for(article) }}<br />
{% endif %}

Published: {{ article.locale_date }}

<br />
{% if article.authors %}
	By
	{% for author in article.authors %}
		<a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
	{% endfor %}
{% endif %}

In <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>.

{% if article.modified %}
	<br />* Last updated: {{ article.locale_modified }}
{% endif %}

<!-- /.post-info -->