{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock %}

{% block content %}

	<div class="post">
		<h1 class="title">Authors on {{ SITENAME }}</h1>
		<div class="entry">
			<ul>
			{%- for author, articles in authors|sort %}
				<li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
			{% endfor %}
			</ul>
		</div>
	</div>
    
{% endblock %}