{% extends "index.html" %}

{% block title %}{{ SITENAME }} - Articles by {{ author }}{% endblock %}
{% block content_title %}
<h2>Articles by {{ author }}</h2>
{% endblock %}

{% block content %}

	<div class="post">
		<h1 class="title">Articles by {{ author }}</h1>
		<div class="entry">
			{% for article in articles %}
			<h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
		title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
			<p class="byline">{% include 'article_infos.html' %}</p>
			{% endfor %}
		</div>
	</div>
	
		
{% endblock %}