<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Title      : StandardIssue
Version    : 1.0
Released   : 20070723
Description: A two-column, fixed-width and lightweight template ideal for 1024x768 resolutions. Suitable for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/standardissue.css" />
</head>
<body>

{% include 'github.html' %}
{% include 'gitlab.html' %}

<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="{{ SITEURL }}">{{ SITENAME }}{% if SITESUPERSCRIPT %}<sup>{{ SITESUPERSCRIPT }}</sup>{% endif %}</a></h1>
		<h2>{{ SITESUBTITLE }}</h2>
	</div>
	<div id="menu">
		<ul>
		{% for title, link in MENUITEMS %}
			<li><a href="{{ link }}">{{ title }}</a></li>
		{% endfor %}
		{% if DISPLAY_PAGES_ON_MENU -%}
			{% for pg in pages %}
				<li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
			{% endfor %}
		{% endif %}
		{% if DISPLAY_CATEGORIES_ON_MENU -%}
			{% for cat, null in categories %}
				<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
			{% endfor %}
		{% endif %}
		</ul>
	</div>
</div>
<!-- end header -->

<!-- start page -->
<div id="page">

	<!-- start content -->
	<div id="content">
	
		{% if ABOUT_THE_AUTHOR %}
			<div class="box1">
			{% include 'textbox_author.html' %}
			</div>
		{% endif %}
	
		{% block content %}
		{% endblock %}
	
		
	</div>
	<!-- end content -->
	
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			{% if GOOGLE_SEARCH %}
			<li id="search">
				<h2 class="h-sidebar" ><b>Google</b> search</h2>
				<form method="get" action="http://www.google.com/search">
					<fieldset>
					<input type="text" id="s"  name="q" value="" />
					<input type="submit" id="x" value="Search" />
					<input type="hidden" name="sitesearch" value="{{ SITEURL }}"/>					
					</fieldset>
				</form>
			</li>
			{% endif %}
			
			{% if SIDEBAR_SHOW_ALL_ARTICLES_BY_DATE %}
			
			<li>
				<h2 class="h-sidebar" ><b>Previously</b> on {{ SITENAME }}:</h2>
				
				<ul>
					{% for ordered_page in dates[0: MAX_ARTICLES_BY_DATE ] %}
					<li>{{ ordered_page.date.strftime("%d/%m/%Y") }}: <a href="{{ SITEURL }}/{{ ordered_page.url }}">{{ ordered_page.title }}</a></li>
					{% endfor %}
					
					{% if MAX_ARTICLES_BY_DATE and dates|count > MAX_ARTICLES_BY_DATE %} 
						<li><a href="{{ SITEURL }}/archives.html">…</a></li>
					{% endif %}
					
				</ul>
			</li>
			
			{% endif %}
			
			{% if SIDEBAR_SHOW_ALL_ARTICLES_BY_CATEGORY %}
			
			<li>
				{% for cat, arts in categories %}
					<h2 class="h-sidebar" >In <b>{{ cat }}</b>:</h2>
					<ul>
				
					{% for art in arts[0: MAX_ARTICLES_BY_CATEGORY ] %}
						<li><a href="{{ SITEURL }}/{{ art.url }}">{{ art.title }}</a></li>
					{% endfor %}
					{% if MAX_ARTICLES_BY_CATEGORY and arts|count > MAX_ARTICLES_BY_CATEGORY %} 
						<li><a href="{{ SITEURL }}/{{ cat.url }}">…</a></li>
					{% endif %}
				{% endfor %}
					
				</ul>
			</li>
			
			{% endif %}
			
			{% if SIDEBAR_SHOW_ALL_PAGES %}
			
			<li>
				
				<h2 class="h-sidebar">Other <b>pages</b>:</h2>
				<ul>
				{% for pg in pages %}
					<li><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
				{% endfor %}
				</ul>
			</li>
			
			{% endif %}
			
			
			{% if tags %}
			<li>
				<h2 class="h-sidebar">Known <b>tags</b>:</h2>
				<ul><li>
				{% for tag, a in tags %}
					<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} ({{ a|count }})</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
				</ul>
			
			</li>
			{% endif %}
			
			
		</ul>
	</div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
	
</div>
<!-- end page -->

<!-- start footer -->
<div id="footer">
	<div class="wrap">
		<div id="fbox1" class="box2">
			{% if FOOTER_TEXTBOX %}
				{% include 'textbox_footer.html' %}
			{% endif %}
		</div>
		<div id="fbox2" class="box2">
			
			{% if LINKS %}
			<h2><b>blog</b>roll</h2>
			<ul>
				{% for name, link in LINKS %}
				<li><a href="{{ link }}">{{ name }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
				
		</div>
		<div id="fbox3" class="box2">
		
			<h2><b>Important</b> pages</h2>
			<ul>
				{% for pg in pages %}
				<li><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<p id="legal">StandardIssue &copy; 2007 Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a><br \>StandardIssue Pelican Theme &copy; 2016 <a href="http://nshalaev.gitlab.io">Nikita E. Shalaev</a></p>
</div>
<!-- end footer -->

{% if DISQUS_SITENAME %}
<script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
{% endif %}
</body>
</html>
