{% if DISQUS_SITENAME %}

{% if page %}
	{% if ENABLE_COMMENTS_FOR_PAGES %}
	
		<br clear="both" />
		<div id="disqus_thread"></div>
		<script>
		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
		
		var disqus_config = function () {
			// Replace PAGE_URL with your page's canonical URL variable
			this.page.url = "{{ SITEURL }}/{{ page.url }}";  
			// Replace PAGE_IDENTIFIER with your page's unique identifier variable
			this.page.identifier = "Pages :: {{ page.title }}"; 
		};
		
		(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
		
		</script>
		<noscript>
			Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
		</noscript>
          
	{% endif %}
	
{% else %}

	<br clear="both" />
	<div id="disqus_thread"></div>
	<script>
	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/


	var disqus_config = function () {
		// Replace PAGE_URL with your page's canonical URL variable
		this.page.url = "{{ SITEURL }}/{{ article.url }}";  
		// Replace PAGE_IDENTIFIER with your page's unique identifier variable
		this.page.identifier = "{{ article.category }} :: {{ article.title }}"; 
	};
	
	(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
	
	</script>
	<noscript>
		Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	</noscript>
          
	
{% endif %}


                      

{% endif %}