{% if GITLAB_URL %}
	<a href="{{ GITLAB_URL }}">
	{% if GITLAB_POSITION == "right" %}
		<img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/forkme_gitlab_right.png" alt="Fork me on GitLab" alt="Fork me on GitLab">
	{% elif GITLAB_POSITION == "left" %}
		<img style="position: absolute; top: 0; left: 0; border: 0;" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/forkme_gitlab_left.png" alt="Fork me on GitLab" alt="Fork me on GitLab">
	{% endif %}
	</a>
{% endif %}

