{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
	{% for article in articles_page.object_list %}
	
	{# First item #}
	{% if loop.first and not category and not articles_page.has_previous() %}
		<div class="post">
			<h1 class="title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
			<div class="entry">
				{{ article.content }}
			</div>
			<div class="meta">
				<p class="byline">{% include 'article_infos.html' %}</p>
				<p class="links">
				{% if DISQUS_SITENAME %}
				 <b>|</b> <span class="comments"><a href="{{ SITEURL }}/{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.category }} :: {{ article.title }}">No comments yet</a></span>
				{% endif %}
				</p>
			</div>
		</div>
		
		{% if loop.length > 1 %}
		<ol id="posts-list" class="hfeed" start="{{ ((articles_page.number - 1) * articles_paginator.per_page + 1) + 1 }}">
		{% endif %}
		
	{# other items #}
	{% else %}
		{% if loop.first %}
			<ol id="posts-list" class="hfeed" start="{{ (articles_page.number - 1) * articles_paginator.per_page + 1 }}">
		{% endif %}
		<li class="hfeed">
			<div class="post">
				<h1 class="title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
				<div class="entry">
					{{ article.summary }}
				</div>
				<div class="meta">
					<p class="byline">{% include 'article_infos.html' %}</p>
					<p class="links"><a href="{{ SITEURL }}/{{ article.url }}" class="more">Read full article</a>
					{% if DISQUS_SITENAME %}
					 <b>|</b> <span class="comments"><a href="{{ SITEURL }}/{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.category }} :: {{ article.title }}">No comments yet</a></span>
					{% endif %}
					</p>
				</div>
			</div>
		</li>
	{% endif %}
	{% if loop.last %}
		{% if loop.length > 1 or articles_page.has_other_pages() %}
		</ol><!-- /#posts-list -->
		{% if articles_page.has_other_pages() %}
			{% include 'pagination.html' %}
		{% endif %}
		<!-- /#content -->
		{% endif %}
	{% endif %}
	
	
	{% endfor %}
	
{% else %}
<section id="content" class="body">
<h2>Pages</h2>
    {% for page in PAGES %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</section>
{% endif %}
{% endblock content %}