{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}

<div class="post">
	<h1 class="title"><a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark"
		title="Permalink to {{ page.title|striptags }}">{{ page.title }}</a></h1>
	<div class="entry">
		{{ page.content }}
	</div>
	<div class="meta">

		<p class="byline">	
		{% import 'translations.html' as translations with context %}
		{% if translations.translations_for(page) %}
			{{ translations.translations_for(page) }}
		{% endif %}
		{% if page not in hidden_pages %}
			{% include "disqus_script.html" %}
		{% endif %}
		</p>

	</div>
</div>

{% endblock %}
