{% if DEFAULT_PAGINATION %}

	<p class="paginator">
	{% if articles_page.has_previous() %}
		<a href="{{ SITEURL }}/{{ articles_previous_page.url }}">[ ← Previous page ]</a>
	{% endif %}
	<b>Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}</b>
	{% if articles_page.has_next() %}
		<a href="{{ SITEURL }}/{{ articles_next_page.url }}">[ Next page → ]</a>
	{% endif %}
	</p>


{% endif %}
