{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ tag }}{% endblock %}

{% block content %}

	<div class="post">
		<h1 class="title">{{ articles|count }} article(s) marked with #{{ tag }}</h1>
	</div>

	{% for article in articles %}

	<div class="post">
		<h1 class="title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
		<div class="entry">
			{{ article.summary }}
		</div>
		<div class="meta">
			<p class="byline">{% include 'article_infos.html' %}</p>
		</div>
	</div>
	
	{% endfor %}
	
{% endblock %}
