{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}

	<div class="post">
		<h1 class="title">Known tags ({{ tags|count }}):</h1>
	</div>

	{% for tag, articles in tags|sort|reverse %}

	<div class="post">
		<h1 class="title"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</h1>
	</div>
	
	{% endfor %}

{% endblock %}
