{% macro translations_for(article) %}
{% if article.translations %}
Also available in the following language(s):
    {% for translation in article.translations %}
        <a href="{{ SITEURL }}/{{ translation.url }}"><span class="langabbr">{{ translation.lang }}</span></a>
    {% endfor %}
{% endif %}
{% endmacro %}
